# dependencies
node_modules

# editor
.idea
.idea/*

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# Coverage support
coverage
*.lcov
.nyc_output
.vscode




